<div class="h-100">
  <ion-toast
  [isOpen]="isToastOpen"
  message="Account Created Successfully !!!"
  [duration]="5000"
  class="toast"
></ion-toast>
  <div class="bg_image h-100">
    <ms-auth-form
      class="pt-2"
      [ionicForm]="ionicForm"
      [appName]="'Create Account'"
      (submit)="isSubmittedForm($event)"
      [appLogo]="'https://www.shutterstock.com/image-vector/vintage-logo-restaurant-food-drink-600w-1431394568.jpg'"
      [dataForms]="formData"
      [submitButtonDetals]="submitButtonDetals"
    ></ms-auth-form>
  </div>
</div>
