.uab-logo {
    @media only screen and (min-width: 600px) {
        width: 6% !important;
        height: 30%;
    }

    @media only screen and (max-width: 599px) {
        width: 30%;
        height: 20%;
        margin: auto;
    }

}
.menu-button {
    color: #1a5b45 !important;   
}
.cart-icon{
    font-weight:bold;
    font-size:30px;
}
