<ion-header [translucent]="true" class="mb-3">
  <div class="d-flex">
    <ion-img
      class="uab-logo"
      src="https://www.shutterstock.com/image-vector/vintage-logo-restaurant-food-drink-600w-1431394568.jpg"
      alt="UAB Logo"
    >
    </ion-img>
    <ion-icon
      name="home-sharp"
      class="menu-button cart-icon mt-2 ml-3 cursor-pointer"
      (click)="navigateToDashboard()"
    ></ion-icon>
    <ion-toolbar>
      <div class="welcome_banner">
        <h4 class="text-center ml-5">Welcome, {{ userName }}</h4>
      </div>
      <ion-buttons slot="end" *ngIf="role === 'admin'">
        <ion-button class="menu-button" (click)="customerOrders()"
          >Customer Orders
          <ion-badge *ngIf="notificationCount > 0" color="danger">{{
            notificationCount
          }}</ion-badge>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="goToCart()">
          <ion-icon name="cart" class="menu-button cart-icon"></ion-icon>
        </ion-button>
        <ion-button (click)="logout()">
          <ion-icon name="log-out" class="menu-button cart-icon"></ion-icon>
          <small><b>Log out</b></small>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>
