@import url("../../commonStyles/login_signup.scss");
.on_btn_login_mobile{
    @media only screen and (min-width: 600px) {
          display: none !important;
        }
    
        @media only screen and (max-width: 599px) {
           display: block !important;
        }
}
::ng-deep .mygreen{
    color: green;
}
.on_btn_login_comp {
@media only screen and (min-width: 600px) {
        display: block !important;
    }

    @media only screen and (max-width: 599px) {
        display: none !important;
    }
}

