.in-space{
    margin-right:35%;
}
.custom-icon {
  font-size: 2em; /* Adjust the value as needed */
}
.cursor-pointer{
  cursor: pointer;
}
.label-text {
  color: grey; /* Change this to the desired color */
}