.imageSet{
    width:200px !important;
    border-radius:100% !important;
    margin:15px !important;
    
  }
  .f-24{
    font-size: large;
  }
  ion-card{
    min-height: 480px;
    max-height: 480px;
  }