<ion-toolbar>
  <ion-title>Cart Items</ion-title>
</ion-toolbar>
<div class="d-flex">
<div>
  <ion-row *ngIf="cartItems.length >0">
    <ion-col *ngFor="let item of cartItems">
      <ion-card>
        <div
          class="d-flex flex-row"
        >
        <ion-card-content>
          <div>
            <img [src]="item.imageUrl" alt="" class="imageSet" />
          </div>
        </ion-card-content>
          <ion-card-header class="d-flex justify-content-center">
            <ion-card-title>{{item.name}}</ion-card-title>
            <ion-card-subtitle
              ><b>Price:</b>$ {{item.itemInfo.price * item.itemInfo.isSelected|
              number: '1.2'}}
              <div>
                <ion-card-subtitle
                  ><b>Size:</b>
                  {{item.itemInfo.size|uppercase}}</ion-card-subtitle
                >
                <ion-card-subtitle
                  ><b>Quantity:</b>
                  {{item.itemInfo.isSelected}}</ion-card-subtitle
                >
              </div>
            </ion-card-subtitle>
          </ion-card-header>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</div>
<div>
        <ion-card>
          <ion-card-header>
            <ion-card-title> Total Price :${{TotalPrice}} </ion-card-title>
            <ion-card-content>
              <div>Choose Payment Mode</div>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
</div>
</div>
