.item-input-has-focus .label-md[floating],
.item-input-has-focus .label-md[floating],


ion-item.item-has-focus>ion-label {
    color: $themeColor !important;
    font-weight: bold;
}

:host(.item-has-focus) .item-native {
    caret-color: $themeColor;
    border-bottom: 2px solid $themeColor !important;
}

:host {
    --highlight-color-focused: $themeColor !important;
}

:host(.item-interactive.item-has-focus) {
    --highlight-background: var(--highlight-color-focused) !important;
}
ion-item{
    --highlight-color-focused: $themeColor !important;
}

ion-input {
    --placeholder-color: $themeColor;
    /* placeholder text color */
    color: $themeColor !important;
    /* input text color to primary */
}

.ion-color-success {
    --ion-color-base: var(--ion-color-success, $themeColor) !important;
    --ion-color-base-rgb: var(--ion-color-success-rgb, 45, 211, 111) !important;
    --ion-color-contrast: var(--ion-color-success-contrast, #fff) !important;
    --ion-color-contrast-rgb: var(--ion-color-success-contrast-rgb, 255, 255, 255) !important;
    --ion-color-shade: var(--ion-color-success-shade, $themeColor) !important;
    --ion-color-tint: var(--ion-color-success-tint, $themeColor) !important;
}
.btn-success-dark {
    --background: #1a5b45;
    --color: var(--ion-color-primary-contrast, #fff);
}
.uab-logo{
     width: 50px !important;
}
.bg_image{
    background-image: url("../../assets/coffee.jpg") ;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
:host{
--backgroung: var(--ion-card-background, var(--ion-item-background, var(--ion-background-color, #fff)));
}


