.imageSet{
    width: 133px !important;
    border-radius: 100% !important;
    aspect-ratio: 3/3;
    object-fit: cover;
    margin: 15px;
    mix-blend-mode: color-burn;
  
}
.c-card{
margin:15%;

}
.category{
  margin:1%;
  margin-right:10%;
}
